body{
    font-family: "serenity", sans-serif;
    font-variation-settings: "wght" 400;
    line-height: 1.3;
    color:white;
    background-image: linear-gradient(to bottom, #b2b96c, #f0fcf0, #02025c);
} 

*{
    background: transparent; 
    box-sizing: border-box; 
}

.container{
    width: 84vw;
    max-width: 900px;
    margin:0 auto;
    padding: 10%;
}


section {
    max-width: 100%; 
    padding: 0 10px; 
}



#Ghibli{
    width:200px;
}

.sketchfab-embed-wrapper {
    width: 100vw; 
    max-width: 100%; 
    margin: 0;
    overflow: hidden;
    position: relative;
    background:transparent;
}

.sketchfab-embed-wrapper iframe {
    width: 100vw;
    height: calc(100vw * 0.75);
    border:none;
    background:transparent;
}





h1 {
    font-family: "Neue Kabel", sans-serif;
    font-weight: 500;
    color: white;
    font-size: clamp(6em, 12vw, 50em); 
    text-align: center;
    margin-top: 140px;
}


/* Header/Navbar */
header .navbar {
    background-color: transparent;
    padding: 20px 0;
}


#navbar {
    display: grid;
    padding:1%;
    grid-template-columns: 25% 25% 25% 25%;
    gap:1.2em;
    font-size:.8em;
 } 

 @media (max-width: 1000px) {
    #navbar {
        font-size:.6em;
        gap:0.5em;
    }
}

@media (max-width: 800px) {
    #navbar {
        font-size:.5em;
        gap:0.3em;
}
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
  }

  
  .navbar nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; 
  }

  
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
  }
  
  .nav-links li {
    display: inline-block;
  }
  
  .nav-links a {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    padding: 8px 15px;
    white-space: nowrap;
  }
  
  .nav-links a:hover {
    color: red;
  }


p{
     font-size:1rem;
     line-height: 1.4em;
}

@media (max-width: 600px) {
    .nav-links a {
        padding: 5px 10px; 
        font-size: 0.9em; 
    }
}

/* Landing Section */

.landing-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    overflow: hidden; 
}

#landing{
    text-align: center;
    padding-bottom:30%;
    background:transparent;
    max-height:864px;
    width:100vw;
}

.landing-image-1 {
    position: absolute;
    background: url('IMAGES/thumb-1920-1347376-\(1\).jpg') no-repeat center center;
    background-size: cover; 
    top: 0;
    left: 0;
    width: clamp(300px, 100vw, 2400px); 
    height: clamp(200px, 100vh, 1080px); 
    z-index: -1;
}


/* .landing-image-2 {
    background: url('IMAGES/ASSSET-1');
    height: 400px;
    position: absolute;
    width: 100%;
    top: 400px;
    left: 0;
} */

.landing-text {
    margin-top: 670px; 
    padding: 6%; 
    padding-top:4%;
    padding-bottom:4%;
    text-align:center;
    background-color:#02025c;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);

}

.landing-text p {
    font-style: italic;
    font-size: 1em;
    max-width: 650px;
    color:white;
}


h5 {
    font-size: 1em;
    font-weight:600;
    margin-top: 10px;
    color:red;
}



h2.section-title {
    font-size: 4em;
    font-family: "Neue Kabel", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    color:#02025c; 
}


.text-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    gap: 10px; 
    padding:3%;
    margin:10%;
}

.text-box h3 {
    font-size:2em; 
    font-weight: bold; 
    margin-bottom:3px;
}

.text-box p {
    font-size: .9em; 
    line-height: 1.3;
    display: flex;
    flex-wrap:wrap; 
    max-width:700px;
}

#inspirations {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-size:cover;
    width:100vw;
    padding:5%;
}

#inspirations1 {
    background: url(IMAGES/Untitled-1\ 1.png) no-repeat center center/cover;
    width:100vw;
    padding:5%;
}

#inspirations2{
    background: url(IMAGES/Untitled-1\ 2.png) no-repeat center center/cover;
    margin-bottom: 30px;
    width:100vw;
    padding:5%;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}
/* 
@media (min-width: 1024px) {
    .character-grid {
        grid-template-columns: 1fr; 
    }
} */
@media (max-width: 1024px) and (min-width: 601px) {
    .character-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 600px) {
    .character-grid {
        grid-template-columns: 1fr; 
    }
}



.character-card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
    text-align: center;
}

.character-card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.characterText h4 {
    font-size: 22px;
    /* margin-top: 15px; */
    color:#020e5d; 

}

.characterText p {
    font-size: .8em;
    color:#020e5d; 

}

.plotContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
    padding:20px;
}

.plotContainer img {
    width: 50%;
    height: auto;
    max-height:400px;
    object-fit: cover;
}


.plotText {
    width: 45%;
    padding: 20px;

}

.plotText h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.plotText h6 {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}

.plotText p {
    font-size: .9em;
}



@media (max-width: 768px) {
    .plotContainer {
        flex-direction: column;
        align-items: center;
    }


    .plotContainer {
        flex-direction: column;
        align-items: center;
    }


    .plotText {
        width: 80%;
        text-align: center;
    }
}




footer{
    padding:3em1.5%;
    color:#E43D12
}
