header{
    margin-bottom:3rem;
}

p{
    line-height:1.6;
}

.see-all{
    font-size:0.8em;
    text-transform:uppercase;
}

h1{
    font-size:2.5rem;
}

h2{
    font-size:1rem;
    text-transform:uppercase;
}

h1,h2{
    font-weight:100;
}

.cast img{
    width:100%;
}

.cast ul li{
    width:25%;
}

.cast ul li div{
    font-size:0.8rem;
}

.cast ul li div:first-of-type{
    font-weight:bold;
}

.cast ul li div:nth-of-type(2) {
    font-style:italic;
}

.shows>li{
    border-top: 1px solid black;
}

.shows li#game-of-thrones .seasons ul li:last-child::after {
    content:"*";
}

.shows li#game-of-thrones .seasons ul::after {
    content: "* Final Season";
    display: block; 
    font-size: 0.7rem; 
    color: #999; 
}

.selected a{
    font-weight:600;
    color:black;
}
